scripts/reddit-monitor.workflow.json
{
  "name": "Reddit Monitor — Pronto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 340]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/smallbusiness/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "RSS r/smallbusiness",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/selfhosted/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "RSS r/selfhosted",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 220]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/CRM/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "RSS r/CRM",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 340]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Entrepreneur/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "RSS r/Entrepreneur",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 460]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/saas/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "RSS r/saas",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 580]
    },
    {
      "parameters": {
        "mode": "append",
        "inputs": 5,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Merge All Posts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 340]
    },
    {
      "parameters": {
        "jsCode": "// Keywords to match (case-insensitive)\nconst KEYWORDS = [\n  'booking',\n  'appointment',\n  'salon',\n  'barbershop',\n  'auto repair',\n  'beauty salon',\n  'CRM',\n  'self-hosted',\n  'selfhosted',\n  'scheduling',\n  'Fresha',\n  'Vagaro',\n  'Booksy',\n  'Square',\n  'Mindbody',\n  'point of sale',\n  'POS',\n  'client management',\n  'small business software'\n];\n\nconst item = $input.item.json;\n\n// Build searchable text from title + content snippet\nconst title = item.title || '';\nconst body = item.contentSnippet || item.content || item.summary || '';\nconst searchText = (title + ' ' + body).toLowerCase();\n\n// Find which keywords matched\nconst matched = KEYWORDS.filter(kw => searchText.includes(kw.toLowerCase()));\n\nif (matched.length === 0) {\n  // No match — return empty so the IF node drops it\n  return [{ json: { relevant: false } }];\n}\n\n// Derive subreddit from link\nconst link = item.link || item.guid || '';\nconst subredditMatch = link.match(/reddit\\.com\\/r\\/([^\\/]+)/);\nconst subreddit = subredditMatch ? subredditMatch[1] : 'unknown';\n\nreturn [{\n  json: {\n    relevant: true,\n    post_title: title,\n    post_link: link,\n    subreddit: subreddit,\n    matched_keywords: matched.join(', ')\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.relevant }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Is Relevant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 340]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔍 *Reddit post matched keywords*\n\n*Subreddit:* r/{{ $json.subreddit }}\n*Title:* {{ $json.post_title }}\n*Link:* {{ $json.post_link }}\n\n🏷 *Matched:* `{{ $json.matched_keywords }}`",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1220, 220],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-001",
          "name": "Pronto Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          { "node": "RSS r/smallbusiness", "type": "main", "index": 0 },
          { "node": "RSS r/selfhosted", "type": "main", "index": 0 },
          { "node": "RSS r/CRM", "type": "main", "index": 0 },
          { "node": "RSS r/Entrepreneur", "type": "main", "index": 0 },
          { "node": "RSS r/saas", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS r/smallbusiness": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 0 }]
      ]
    },
    "RSS r/selfhosted": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 1 }]
      ]
    },
    "RSS r/CRM": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 2 }]
      ]
    },
    "RSS r/Entrepreneur": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 3 }]
      ]
    },
    "RSS r/saas": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 4 }]
      ]
    },
    "Merge All Posts": {
      "main": [
        [{ "node": "Keyword Filter", "type": "main", "index": 0 }]
      ]
    },
    "Keyword Filter": {
      "main": [
        [{ "node": "Is Relevant?", "type": "main", "index": 0 }]
      ]
    },
    "Is Relevant?": {
      "main": [
        [{ "node": "Send to Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["reddit", "monitoring", "pronto"],
  "triggerCount": 0,
  "updatedAt": "2026-06-01T00:00:00.000Z",
  "versionId": "v1"
}
