scripts/reddit-monitor.workflow.json
{
  "name": "Reddit Monitor — Pronto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 660]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/smallbusiness/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "RSS r/smallbusiness",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/selfhosted/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "RSS r/selfhosted",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 220]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/CRM/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "RSS r/CRM",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 340]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Entrepreneur/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "RSS r/Entrepreneur",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 460]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/saas/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "RSS r/saas",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 580]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Bookkeeping/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "RSS r/Bookkeeping",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/beauty/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "RSS r/beauty",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 820]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/barber/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "RSS r/barber",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 940]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/autorepair/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "RSS r/autorepair",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 1060]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Fitness/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000016",
      "name": "RSS r/Fitness",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 1180]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/opensourcesoftware/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000017",
      "name": "RSS r/opensourcesoftware",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 1300]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/docker/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000018",
      "name": "RSS r/docker",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 1420]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/selfhostedservices/.rss",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000019",
      "name": "RSS r/selfhostedservices",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 1540]
    },
    {
      "parameters": {
        "mode": "append",
        "inputs": 13,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Merge All Posts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 660]
    },
    {
      "parameters": {
        "jsCode": "// Skip weekly/promotional thread titles (case-insensitive)\nconst SPAM_PHRASES = [\n  'promote your business',\n  'weekly thread',\n  'daily thread',\n  'megathread',\n  'weekly discussion'\n];\n\n// Iterate over ALL input items and keep only non-spam\nconst results = [];\nfor (const item of $input.all()) {\n  const title = (item.json.title || '').toLowerCase();\n  const isSpam = SPAM_PHRASES.some(phrase => title.includes(phrase));\n  if (!isSpam) {\n    results.push(item);\n  }\n}\nreturn results;"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Skip Thread Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 660]
    },
    {
      "parameters": {
        "jsCode": "// Keywords to match (case-insensitive, full-phrase only — no false positives)\nconst KEYWORDS = [\n  'booking software',\n  'appointment booking',\n  'salon software',\n  'barbershop software',\n  'self-hosted CRM',\n  'scheduling software',\n  'Fresha',\n  'Vagaro',\n  'Booksy',\n  'Mindbody',\n  'point of sale system',\n  'client management',\n  'barber shop app',\n  'salon app',\n  'appointment reminder',\n  'online booking system'\n];\n\n// Iterate over ALL input items\nconst results = [];\nfor (const item of $input.all()) {\n  const title = item.json.title || '';\n  const body = item.json.contentSnippet || item.json.content || item.json.summary || '';\n  const searchText = (title + ' ' + body).toLowerCase();\n\n  const matched = KEYWORDS.filter(kw => searchText.includes(kw.toLowerCase()));\n\n  if (matched.length === 0) {\n    results.push({ json: { relevant: false } });\n    continue;\n  }\n\n  const link = item.json.link || item.json.guid || '';\n  const subredditMatch = link.match(/reddit\\.com\\/r\\/([^\\/]+)/);\n  const subreddit = subredditMatch ? subredditMatch[1] : 'unknown';\n\n  results.push({\n    json: {\n      relevant: true,\n      post_title: title,\n      post_link: link,\n      subreddit: subreddit,\n      matched_keywords: matched.join(', ')\n    }\n  });\n}\nreturn results;"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 660]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.relevant }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Is Relevant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 660]
    },
    {
      "parameters": {
        "chatId": "361062024",
        "text": "=🔍 *Reddit post matched keywords*\n\n*Subreddit:* r/{{ $json.subreddit }}\n*Title:* {{ $json.post_title }}\n*Link:* {{ $json.post_link }}\n\n🏷 *Matched:* `{{ $json.matched_keywords }}`",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 540],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-001",
          "name": "Pronto Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          { "node": "RSS r/smallbusiness",       "type": "main", "index": 0 },
          { "node": "RSS r/selfhosted",           "type": "main", "index": 0 },
          { "node": "RSS r/CRM",                  "type": "main", "index": 0 },
          { "node": "RSS r/Entrepreneur",         "type": "main", "index": 0 },
          { "node": "RSS r/saas",                 "type": "main", "index": 0 },
          { "node": "RSS r/Bookkeeping",          "type": "main", "index": 0 },
          { "node": "RSS r/beauty",               "type": "main", "index": 0 },
          { "node": "RSS r/barber",               "type": "main", "index": 0 },
          { "node": "RSS r/autorepair",           "type": "main", "index": 0 },
          { "node": "RSS r/Fitness",              "type": "main", "index": 0 },
          { "node": "RSS r/opensourcesoftware",   "type": "main", "index": 0 },
          { "node": "RSS r/docker",               "type": "main", "index": 0 },
          { "node": "RSS r/selfhostedservices",   "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS r/smallbusiness": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 0 }]
      ]
    },
    "RSS r/selfhosted": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 1 }]
      ]
    },
    "RSS r/CRM": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 2 }]
      ]
    },
    "RSS r/Entrepreneur": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 3 }]
      ]
    },
    "RSS r/saas": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 4 }]
      ]
    },
    "RSS r/Bookkeeping": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 5 }]
      ]
    },
    "RSS r/beauty": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 6 }]
      ]
    },
    "RSS r/barber": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 7 }]
      ]
    },
    "RSS r/autorepair": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 8 }]
      ]
    },
    "RSS r/Fitness": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 9 }]
      ]
    },
    "RSS r/opensourcesoftware": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 10 }]
      ]
    },
    "RSS r/docker": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 11 }]
      ]
    },
    "RSS r/selfhostedservices": {
      "main": [
        [{ "node": "Merge All Posts", "type": "main", "index": 12 }]
      ]
    },
    "Merge All Posts": {
      "main": [
        [{ "node": "Skip Thread Posts", "type": "main", "index": 0 }]
      ]
    },
    "Skip Thread Posts": {
      "main": [
        [{ "node": "Keyword Filter", "type": "main", "index": 0 }]
      ]
    },
    "Keyword Filter": {
      "main": [
        [{ "node": "Is Relevant?", "type": "main", "index": 0 }]
      ]
    },
    "Is Relevant?": {
      "main": [
        [{ "node": "Send to Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["reddit", "monitoring", "pronto"],
  "triggerCount": 0,
  "updatedAt": "2026-06-03T00:00:00.000Z",
  "versionId": "v3"
}
